/*** random cuccok tárháza ._. by András | #efficient_coding ***/

/* oldalakhoz háttér */
body{
    background-color: rgb(33, 37, 41);
}

/* index.php-n szöveg képre igazítása */
.txtcontainer {
    position: relative;
    text-align: center;
    color: white;
  }

.centeredtxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer{
    bottom: 0;
}